<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<body>


<form method="post" action="/accounts/login/">
<input type="hidden" name="csrfmiddlewaretoken" value="2zpdgY0IRuN64c3BuTUsa07EawhZeodBl9y5Byx31OukQD8n8x6kF40kMHnZbbRb">
<div>
    <label style="color:red" for="id_username">Username:</label>
    <input type="text" name="username" autofocus="" required="" id="id_username" maxlength="254">
</div>
<div>
    <label for="id_password">Password:</label>
    <input type="password" name="password" required="" id="id_password">
</div>
<div>
<input type="submit" value="login">
<input type="hidden" name="next" value="">
</div>
</form>

<p><a href="/accounts/password_reset/">Lost password?</a></p>
</body></html>