{% load crispy_forms_tags %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estils.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Que fer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="login container col-lg-8 col-12 my-auto pb-5" style=" margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card card-signin">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Login</strong>
                    </h5>
                <div class="card-body px-lg-4">
                    <form method="POST">
                        {% csrf_token %}
                        <!--Primer-->
                        <div class="row col-12">
                            <div id="div_id_nom " class="form-group col-lg-6 ">
                                <div class="">
                                    <input type="text" placeholder="Nom" value="david" name="nom" id="id_nom" required="" class="textinput textInput form-control requiredField" maxlength="100"> </div>
                            </div>
                            <div id="div_id_cognom" class="form-group col-lg-6 ">
                                <div class="">
                                    <input type="text" placeholder="Cognom" value="ayachi" name="cognom" id="id_cognom" required="" class="textinput textInput form-control requiredField" maxlength="100"> </div>
                            </div>
                        </div>
                        <!--Segon-->
                        <div class="row col-12">

                            <div id="div_id_correu" class="form-group col-lg-6 ">
                                <div class="">
                                    <input type="email" placeholder="Correu" value="david@gmail.com" name="correu" id="id_correu" required="" class="emailinput form-control requiredField" maxlength="100"> </div>
                            </div>
                        </div>
                        <!--tercer-->
                        <div class="row col-12">

                            <div id="div_id_nom_usuari" class="form-group col-lg-6 ">
                                <div class="">
                                    <input type="text" name="nom_usuari" value="david" placeholder="Nom d'usuari" required="" class="textinput textInput form-control requiredField" id="id_nom_usuari"> </div>
                            </div>
                        </div>
                        <!--Quart-->
                        <div class="row col-12">

                            <div id="div_id_contrasenya1" class="form-group col-lg-6 ">
                                <div class="">
                                    <input type="password" placeholder="Contrasenya" value="david22" name="contrasenya1" required="" class="textinput textInput form-control requiredField" id="id_contrasenya1"> </div>
                            </div>
                            <div id="div_id_contrasenya2" class="form-group col-lg-6 ">
                                <div class="">
                                    <input type="password" placeholder="Repetir Contrasenya" value="david22" name="contrasenya2" required="" class="textinput textInput form-control requiredField" id="id_contrasenya2"> </div>
                            </div>
                        </div>
                          <div class="row col-12">

                            <div id="div_id_contrasenya1" class="form-group col-lg-6 ">
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">He llegit i accepto la <a href="{% url 'activitats:privacitat' %}">política de privacitat.</a></label>
  </div>                                  </div>

                        </div>

                    {{ form.non_field_errors }}

                        <div class="row col-12">
                            <input type="submit" class="btn btn-success" id="enviar" disabled >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
            $(document).ready(function() {
                $("#exampleCheck1").on('click', function () {
    $("#enviar").removeAttr('disabled');


                });
            });
    </script>

