{% extends 'base.html' %}
{% block quefer %}{% url 'activitats:pantallaInici'%}{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    {% load staticfiles %}
    <div id="carouselExampleControls" style="height: 100vh!important;" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active" style="color: black; text-align: center;">
                <div class="d-block w-100 imatge1">
                    <div class="conttext">
                        <div class="titol" style="margin-top: -180px;font-family: 'Dosis', sans-serif;
 ">QueFer</div>
                        <div class="subtitol" style=" font-size:30px;font-family: 'Merriweather', serif; ">No hay nada bueno o malo,el pensamiento lo hace así.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

