{% extends 'base.html' %}     {% block perfil %}{% url 'activitats:editarPerfil' %}{% endblock %}
{% block quefer %}{% url 'activitats:pantallaInici'%}{% endblock %}{% block content %}


    {% load crispy_forms_tags %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="crossorigin=""></script>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>

    <div class="row col-12 mt-5">

<div class="klk col-md-6 pl-5 ">
    <button id="clic" type="submit" class="btn"></button>


    <!-- Button trigger modal -->
<button id="boto" type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
  Eliminar
</button>
    <a id="boto2" class="btn btn-danger" href="{% url 'activitats:editarActivitat' activitat.id %}">Editar</a>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta segur que vol eliminar aquesta activitat planejada per el proxim {{ activitat.dia.day }}
      </div>
      <div class="modal-footer">
        <button type="button" id="eliminar" class="btn btn-secondary" >Si</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
         <h1>{{ activitat.nom }}</h1>


                  <h4>{{ activitat.descripcio }}</h4>

       <h4>Comença:  {{ activitat.dia.day }} de {{ activitat.dia.month }} del {{ activitat.dia.year }} a les {{ activitat.dia.hour }}:{{ activitat.dia.minute }}</h4>

       <h4>Acaba:  {{ activitat.diafinal.day }} de {{ activitat.diafinal.month }} del {{ activitat.diafinal.year }} a les {{ activitat.diafinal.hour }}:{{ activitat.diafinal.minute }}</h4>

        <h4>Localitat: {{ activitat.localitat.nom }}</h4>

       <h4>Categoria: {{ activitat.categoria.nom }}</h4>

      <h4>Organitzador:  {{ activitat.creador }}</h4>


    </div>
    <div id="mapid" class=" klk col-md-6 ">
    </div>
    </div>


   <div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="logout">

        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#comments-logout" role="tab" id="comments" data-toggle="tab"><h4 class="reviews text-capitalize">Comentari</h4></a></li>
                <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Nou Comentari</h4></a></li>
            </ul>
            <div class="tab-content" style=" border-color: transparent !important;">
                <div class="tab-pane active" id="comments-logout">
                    <ul class="media-list">

                    </ul>
                </div>
                <div class="tab-pane" id="add-comment">
                                                <label for="email" class="col-sm-2 control-label">Commentaris</label>

                         <div class="form-group">
                            <div class="col-sm-10">
                              <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success btn-circle text-uppercase enviar mt-5 mb-5" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span>Commentar</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
	</div>
  </div>
  </div>


    <script>

$(document).ready(function(){

var divs = document.getElementsByClassName("media-body").length;
if (divs == 0){
  $(".media-list").prepend("<p>Sigues el primer en fer un comentari</p>");

}
    console.log(divs);
      var mymap=0;
var marcadores=[];
//Commentari

    $("#submitComment").on('click',function(){
          $( "#comments" ).trigger( "click" );


    var text = $("#addComment").val();
    console.log(text)
                       // headers: { "X-CSRFToken": getCookie("csrftoken") },

                 $.ajax({
                 type:"POST",
                 url:"/activitats/crearComentari/",
                 data: {
                        'text': text,
                        'activitat': {{ activitat.id }},
                        'csrfmiddlewaretoken': '{{ csrf_token }}',// from form
                  },
                 success: function(){
                                              $(".media-list").empty();

                      $("#addComment").val('');
                $(".media").remove()
                     $.get("/comentaris?busca="+id, function(data) {
                var c = 0;
                console.log(data)
                $.each(data, function(index, element) {
                    $(".media-list").prepend("<li class='media primer"+c+"'>");
                    $(".primer" + c).prepend("<div class='media-body segon"+c+"'>");
                    $(".segon" + c).prepend("<div class='well well-lg tercer"+c+"'>");
                    $(".tercer" + c).append("<h4 class='media-heading text-uppercase reviews '>"+element.persona+" </h4>");
                    $(".tercer" + c).append("<a class='dd'>"+element.dataa+"</a>");
                    $(".tercer" + c).append("<p class='media-comment'>"+element.textt);
                    c++;
                })
            })
                    }
            });



             //cridar_comentar();


       });

    //comentaris
    var id= "{{ activitat.id }}";
    function cridar_comentar(){
                         $(".media-list").empty();

        $.get("/comentaris?busca="+id, function(data) {
                var c = 0;
                console.log(data)
                $.each(data, function(index, element) {
                    $(".media-list").prepend("<li class='media primer"+c+"'>");
                    $(".primer" + c).prepend("<div class='media-body segon"+c+"'>");
                    $(".segon" + c).prepend("<div class='well well-lg tercer"+c+"'>");
                    $(".tercer" + c).append("<h4 class='media-heading text-uppercase reviews '>"+element.persona+" </h4>");
                    $(".tercer" + c).append("<a class='dd'>"+element.dataa+"</a>");
                    $(".tercer" + c).append("<p class='media-comment'>"+element.textt);
                    c++;
                })
            })
    }
             cridar_comentar();


//Boto insciures
    var creador= "{{ activitat.creador }}";
    var userlogin= "{{ user.get_username }}";
if (creador !== userlogin){
$("#boto").remove();
$("#boto2").remove();


   /*$('#incriurte').attr('href','inscriures')
    $('#incriurte').prepend('Inscriut-te')*/
 var jaestasinscrit = '{{ jaestasinscrit}}';

    if (jaestasinscrit ==1){
        $("#clic").text('Desinscriuret')
        $("#clic").addClass('btn-danger')
    }else {
        $("#clic").text('Insciu-te')
        $("#clic").addClass('btn-success')
    }

//Inscriure's

$("#clic").on('click',function(){
    var carta = document.getElementById( "clic" );
	carta.className = (carta.className=="btn btn-success")?"btn btn-success btn btn-danger":"btn btn-success";

    if ($('#clic').html() == 'Insciu-te') {
         $("#clic").text('Desincriures');

    }else {
            $("#clic").text('Insciu-te');
}

            $.ajax({
                                       // headers: { "X-CSRFToken": getCookie("csrftoken") },
                 type:"POST",
                 url:"/activitats/inscriures/",
                 data: {
                        'creador': creador,
                        'activitat': {{ activitat.id }},
                        'csrfmiddlewaretoken': '{{ csrf_token }}',// from form
                  },
                 success: function(){
                    }
            });
       });
     }
//Eliminar
    if (creador == userlogin){
                $("#clic").remove();


        $("#eliminar").text('Eliminar')
        $("#eliminar").addClass('btn-danger')



$("#eliminar").on('click',function(){

            $.ajax({
                                       // headers: { "X-CSRFToken": getCookie("csrftoken") },
                 type:"POST",
                 url:"/activitats/eliminaractivitat/",
                 data: {
                        'activitat': {{ activitat.id }},
                        'csrfmiddlewaretoken': '{{ csrf_token }}',// from form
                  },
                 success: function(){
                     window.location.replace({% url 'activitats:pantallaInici'%});

                    }
            });
       });
     }

//MAPA

    var x = "{{  activitat.localitat.latitud}}";
    x = x.replace(",",".")
    var y = "{{ activitat.localitat.longitud }}";
        y = y.replace(",",".")
    mymap = new L.map('mapid').setView([x, y], 11);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiaGVsYmF6IiwiYSI6ImNqcHZndm40cDAxcWozeG1tY2F2Z2R3eWwifQ.xYu-zXuzClmPavGy0hr8hw'
    }).addTo(mymap);
    marcadores.push(L.marker([x, y]).addTo(mymap));

})
</script>


{% endblock %}t>
