

{% extends 'base.html' %} {% block content %}


    <div class="row col-12 mt-5">

<div class="klk col-md-6">
     <h1> Informacio de aquest activitat</h1>

    <button id="clic" type="submit" class="btn"></button>
    <h4>Nom:  {{ activitat.nom }}</h4>
       <h4>Descripció: {{ activitat.descripcio }}</h4>
       <h4>Dia:  {{ activitat.dia }}</h4>
       <h4>Ultim dia: {{ activitat.diafinal }}</h4>
        <h4>Localitat: {{ activitat.localitat.nom }}</h4>
       <h4>Categoria: {{ activitat.categoria.nom }}</h4>
      <h4>organitzador:  {{ activitat.creador }}</h4>
    </div>
    <div id="mapid" class=" klk col-md-6 ">
    </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="crossorigin=""></script>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>

    <script>
  var mymap=0;
var marcadores=[];
$(document).ready(function(){

    var creador= "{{ activitat.creador }}";
    var userlogin= "{{ user.get_username }}";
if (creador !== userlogin){
   $('#incriurte').attr('href','inscriures')
    $('#incriurte').prepend('Inscriut-te')
 var jaestasinscrit = '{{ jaestasinscrit}}';

    if (jaestasinscrit ==1){
        $("#clic").text('Desincriuret')
        $("#clic").addClass('btn-danger')
    }else {
        $("#clic").text('Insciu-te')
        $("#clic").addClass('btn-success')
    }

//Inscriure's

$("#clic").on('click',function(){
    var carta = document.getElementById( "clic" );
	carta.className = (carta.className=="btn btn-success")?"btn btn-success btn btn-danger":"btn btn-success";

    if ($('#clic').html() == 'Insciu-te') {
         $("#clic").text('Desincriures');
                     //$("#clic").removeClass('btn-success')
            //$("#clic").addClass('btn-danger')
    }else {
            $("#clic").text('Insciu-te');
            //$("#clic").removeClass('btn-danger')

            //$("#clic").addClass('btn-success')
    }


    //inscriures
            $.ajax({
                       // headers: { "X-CSRFToken": getCookie("csrftoken") },
                 type:"POST",
                 url:"/activitats/inscriures/",
                 data: {
                        'creador': creador,
                        'activitat': {{ activitat.id }},
                        'csrfmiddlewaretoken': '{{ csrf_token }}',// from form
                  },
                 success: function(){
                    }
            });
       });
     }


//MAPA

    var x = "{{  activitat.localitat.latitud}}";
    x = x.replace(",",".")
    var y = "{{ activitat.localitat.longitud }}";
        y = y.replace(",",".")
    mymap = new L.map('mapid').setView([x, y], 11);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiaGVsYmF6IiwiYSI6ImNqcHZndm40cDAxcWozeG1tY2F2Z2R3eWwifQ.xYu-zXuzClmPavGy0hr8hw'
    }).addTo(mymap);
    marcadores.push(L.marker([x, y]).addTo(mymap));

})
</script>
{% endblock %}t>
