{% extends 'base.html' %}
{% block perfil %}{% url 'activitats:editarPerfil' %}{% endblock %}
{% block quefer %}{% url 'activitats:pantallaInici'%}{% endblock %}{% block content %}

          <div class="row col-12 pt-5">
    <div class="col-6 pl-5">
        <div class="pl-5">
                        <h1>Les meves activitats</h1>

        </div>

    </div>


    </div>
    <div class="row col-12 justfy-content-around" style="min-height: 60vh">
        {% if activtats %}

    {% for activitat in activtats %}
      <div class=" card col-11 col-sm-5 mr-auto ml-auto m-5 segon2">
          <h5 class="card-header">{{ activitat.categoria }}</h5>
          <div class="card-body tercer2">
              <p class="">{{ activitat.nom }}</p>
              <p class="card-text">{{ activitat.descripcio}}</p>
               <td ><a  class="btn btn-primary" href="{% url 'activitats:activitatDetallada' activitat.id %}">Més informació</a></td>

          </div>
      </div>
           {% endfor %}
    {% else %}
     <div class="row col-12">
    <div class="col-6 pl-5">
        <div class="pl-5">
    <p>Encara no has creat cap activitat</p>
             </div>

    </div>


    </div>
    {% endif %}
    </div>
{% endblock %}