<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quefer</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estils.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, user-scalable=no">


</head>


 <!--<link rel="stylesheet" href="{% static 'img' %}">-->
<body class="klk2" ><!--style="background: url({% static 'img/uno.jpg' %}) no-repeat center fixed  !important;"-->
{% if request.user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{% block quefer %}{% endblock %}">Quefer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex" style="width: 100%">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'activitats:activitatsPropies' %}">Propies<span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'activitats:activitatsincrit' %}">Programades<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -85px !important;">
                  <a class="dropdown-item" href="{% url 'logout' %}">Sortir</a>
                  <a class="dropdown-item" href="{% block perfil %}{% endblock %}">Editar perfi</a>


        </div>
      </li>
    </ul>

  </div>
</nav>
{% else %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Quefer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex" style="width: 100%">
        <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accedir
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -105px !important;">

                  <a class="dropdown-item" href="{% url 'login' %}">Login</a>

          <a class="dropdown-item" href="{% url 'activitats:registre' %}">Registrar-se</a>

        </div>
      </li>
    </ul>

  </div>
</nav>
{% endif %}
 {% block content %}
 {% endblock %}

<div>

    <div class="footer bg-dark" >
        <div class="row col-12">
           <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase"></h5>
        <p class="mt-5">© 2018 Copyright: http://quefer.tk</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Política</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'activitats:coockies' %}" style="color: white">Coockies</a>
          </li>
          <li>
            <a href="{% url 'activitats:privacitat' %}" style="color: white">Privacitat</a>
          </li>
          <li>
            <a href="{% url 'activitats:avislegal' %}" style="color: white">Avis Legal</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Xarxes Socials</h5>

        <span class="fa-stack fa-1x">
                <i class="fab fa-google-plus-square fa-stack-2x icones"></i>
                </span>
                <span class="fa-stack fa-1x">
                <i class="fab fa-facebook-square fa-stack-2x icones"></i>
                 </span>

                <span class="fa-stack fa-1x">
                <i class="fab fa-linkedin fa-stack-2x icones"></i>
                </span>

                <span class="fa-stack fa-1x">
                <i class="fab fa-youtube-square fa-stack-2x icones"></i>
                </span>
                <span class="fa-stack fa-1x">
                <i class="fab fa-twitter-square fa-stack-2x icones"></i>
                 </span>

            </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>

        </div>
</div>
</div>


</body>
</html>
